<div class="card justify-content-center w-75 mx-auto">
    <div class="card-body">
      <div class="text-center">
        <!-- <h3 class="card-title" style="display: inline-block">First name: {{medic?.userM?.firstName}}</h3> -->
        <h2 class="card-title">Name: {{medic?.userM?.firstName}} {{medic?.userM?.lastName}}</h2>
      <h3 class="card-text">Specialization: {{Specializations[medic.specialization]}}</h3>
      <h3 class="card-text">Age: {{medic?.userM?.age}}</h3><br>
      <h3>-Contact-</h3>
      <h3 class="card-text">Email: {{medic?.userM?.email}}</h3>
      <h3 class="card-text">Phone number: {{medic?.userM?.phoneNumber}}</h3> 
      <h3 class="card-text">Schedule: L-V {{medic?.startWorkingHour | date: "HH:mm"}} - {{medic?.endWorkingHour | date: "HH:mm"}}</h3> 
      <hr>
      </div>
      <h2>Holidays</h2>
      <div class="card w-50 mb-2" *ngFor="let holiday of medic?.holidays" >
        <div class="card-body holidaycard">
          <div class="row">
            <h3 class="col-6">From: {{holiday.startDate | date: "d MMMM y"}}<br> To: {{holiday.endDate | date: "d MMMM y"}}</h3>
            <button type="button" class="col-2 btn btn-primary m-3" (click)="openDialog(holiday.id, false)">Edit</button>
            <button type="button" class="col-2 btn btn-primary m-3" (click)="onDeleteHoliday(holiday.id)">Delete</button>
          </div>
        </div>
      </div>
      <hr>
      <!-- <p class="card-text" *ngFor="let holiday of medic?.holidays">{{holiday.startDate}}--{{holiday.endDate}}</p> -->
      <p class="card-text" *ngIf = "dateUpdate"><small class="text-muted">Last updated {{dateUpdate}}</small></p>
      <button class="btn btn-primary button-focus m-3" (click)="openDialog(undefined, true)">
        Edit info
      </button>
      <button class="btn btn-primary button-focus" (click)="openDialog(undefined, false)" type="button">Add holiday</button>
    </div>
</div>
<a class="btn px-2 py-1" [routerLink]="['/change_password']">Change password</a>

