<div class="container-fluid col-md-6">
    <div class="card">
        <div class="text-center">
            <h1>Sign up</h1>
            <h4>Please fill in the form!</h4>
        </div>
        <div class="row justify-content-center text-center">
            <form class="w-75" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-floating mb-3">
                    <input type="text" formControlName="firstName" class="form-control" id="floatingInput" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && formFields['firstName'].errors}" />
                    <label for="floatingInput">First name</label>
                    <div *ngIf="submitted && formFields['firstName'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['firstName'].errors['required']">First name is required</div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" formControlName="lastName" class="form-control" id="floatingInput" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && formFields['lastName'].errors}" />
                    <label for="floatingInput">Last name</label>
                    <div *ngIf="submitted && formFields['lastName'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['lastName'].errors['required']">Last name is required</div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" formControlName="age" class="form-control" id="floatingInput" placeholder="Age" [ngClass]="{ 'is-invalid': submitted && formFields['age'].errors}" />
                    <label for="floatingInput">Age</label>
                    <div *ngIf="submitted && formFields['age'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['age'].errors['required']">Age is required</div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" formControlName="phone" class="form-control" id="floatingInput" placeholder="Phone Number" [ngClass]="{ 'is-invalid': submitted && formFields['phone'].errors}" />
                    <label for="floatingInput">Phone Number</label>
                    <div *ngIf="submitted && formFields['phone'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['phone'].errors['required']">Phone number is required</div>
                    </div>
                </div>
                <div class="form-floating form-group mt-2 mb-3">
                    <input type="text" formControlName="email" class="form-control" id="floatingInput" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && formFields['email'].errors }" />
                    <label for="floatingInput">Email address</label>
                    <div *ngIf="submitted && formFields['email'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['email'].errors['required']">Email is required</div>
                    </div>
                </div>
                <div class="form-floating form-group mb-3">
                    <input type="password" formControlName="password" class="form-control" id="floatingInput2" aria-describedby="passwordHelp" 
                    placeholder="Password" [ngClass]="{ 'is-invalid': submitted && formFields['password'].errors }" />
                    <label for="floatingInput2">Password</label>
                    <div *ngIf="submitted && formFields['password'].errors" class="invalid-feedback">
                        <div *ngIf="formFields['password'].errors['required']">Password is required</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">
                    Sign up
                </button>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
                <div class="text-center">
                    <a href="/login">Already registered? Go to login page.</a>
                </div>
            </form>
        </div>
    </div>
</div>